<section id="contact">

    <address>
      Bd. Cafelei, nr. 420
    </address>
    <a href="mailto:cafedelheisenberga@coffee.com">cafedelheisenberga@coffee.com</a>
      <div class='c'>
        <h3>
          Social media
        </h3>
        <ul>
          <li><i class="fab fa-facebook-square"></i></li>
          <li><i class="fab fa-instagram-square"></i></li>
          <li><i class="fab fa-twitter-square"></i></li>
        </ul>
      </div>
      <br>
      <div class='f1'></div>
      <div class='f2'></div>
  </section>