header{
  position: fixed;
  z-index:20;
  width:100vw;
  }
header img{
  position:fixed;
  display: inline-block;
  z-index:2;
}
nav{
   position: relative;
    float:right;
    display: inline-block;
    background:linear-gradient(rgba(33,00,00,0) 0%, rgba(33,00,00,0.7) 35%, rgba(33,00,00,0.7) 65%, rgba(33,00,00,0) 100%);
    width:100vw;
    padding: 0px;
    color:white;
}

nav ul{
    text-transform: uppercase;
    display:flex;
    vertical-align: middle;
    background-color: rgba(33,00,00,0.7);
}
nav li{
    display:inline-block;
    margin-right: 2vw;
    padding:0px;
    top:0px;
    transition: ease-in-out 0.2s;
}

nav li a{
    display:block;
    padding:2vh;
    color:white;
}

nav li:hover{
  background-color: rgba(33,00,00,1);
  transform: scale(1.1);
}

.dd+li{
  margin-top:auto;
}
.dd{
  display:block;
  padding:2vh;
  color:white;
}
.ddcontent{
  display:none;
  width: 100%;
  height:0px;
  transition: ease-in-out 0.2s;
  position: absolute;
  left:0px;
  padding-left:0px;
}

.ddcontent li{
  text-align: center;
  margin-right:0;
  padding:0px;
}

.ddcontent li a{
  padding:2vh;
  color:white;
  width:min-content;
  height:min-content;
}

.dd:hover .ddcontent{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  transition:height ease-in-out 0.2s;
  height:max-content;
}

input[type="text"],input[type="password"], input[type="number"]{
  background-color: var(--main--);
  display: block;
  width:80%;
  height:2vw;
  color:var(--accent--);
  font-size: 1vw;
  padding:0 5%;
  border: none;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px var(--shadowdark--), inset -5px -5px 10px var(--shadowlight--);
}

@media only screen and (min-width: 601px){
header img{
  height:25vh;
  margin-left:5vh;
}
.x{
    display: none;
}
nav{
  height:min-content;
}
nav .fas{
  display: none;
}
nav ul{
  justify-content: flex-end;
  align-items: flex-end;
  height:100%;
  font-size: 1vw;
}
}

@media only screen and (max-width: 600px){
  header img{
    height:25vw;
    margin-top:5vh;
  }
  nav{
    clip-path: circle(10vw at 95vw 10vh);
    max-height:20vw;
    transition: ease-in-out 0.3s;
 }
 nav .fa-bars{
  margin-left:85vw;
  margin-top: 8vh;
  position:absolute;
  z-index:3;
  font-size: 10vw;
  transition: ease-in-out 0.3s;
}

nav:hover{
  clip-path: circle(110% at 95vw 10vh);
  max-height:100%;
}
nav:hover .fa-bars{
  opacity:0;
}

.x{
  font-size: 20vw;
  position: absolute;
  left:40vw;
  top:80vh;
  color: #B68834;
  border-color: #B68834;
  border-width: 0.5vh;
  border-style: solid;
  clip-path:circle(0% at 50% 50%);
  background-color: white;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: ease-in-out 0.3s;
}

nav .fas{
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  transition: ease-in-out 0.3s;
}

header nav:hover+.x{
  clip-path:circle(50% at 50% 50%);
}

header .x:hover  nav{
  clip-path: circle(10vw at 95vw 10vh);
}

nav ul{
  padding-left: 0;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height:50vh;
  overflow:hidden;
  margin:0;
}
}
