main{
  font-size: 0;
  display: flex;
}

main>div{
  display: inline-flex;
  padding:10vh 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:50vw;
  height:100vh;
  font-size: 1rem;
  background-color: var(--main--);
  color: var(--accent--);
  position: absolute;
  top:0px;
}

.d1{
  --main--:#B68834;
  --accent--:rgba(80,00,00,1);
  --shadowlight--:#c79538;
  --shadowdark--:#634a1c;
}

.d2{
  --accent--:#B68834;
  --main--:rgba(80,00,00,1);
  --shadowlight--:#660000;
  --shadowdark--:#330000;
    right:0px;
}

h2{
  text-transform: uppercase;
  letter-spacing: 1vw;
  font-weight: 100;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:15vh 5vw;
  width:45vw;
  box-sizing: border-box;
  border-radius: 5vw;
  box-shadow: 10px 10px 8px var(--shadowdark--), -10px -10px 8px var(--shadowlight--);
  text-transform: uppercase;
  letter-spacing: 0.4vw;
  font-size: 1.5vw;
}

input[type="text"]{
  background-color: var(--main--);
  display: block;
  width:80%;
  height:2vw;
  color:var(--accent--);
  font-size: 1vw;
  padding:0 5%;
  border: none;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px var(--shadowdark--), inset -5px -5px 10px var(--shadowlight--);
}

input:focus, textarea:focus{
  box-shadow: none;
  outline: none;
}

input:not([type="radio"]), textarea{
  transition: ease-in-out 0.5s;
}
div>input{
  position: absolute;
  opacity: 0;
  z-index: 3;
  width:2vw;
  height:2vw;
}

label i{
  color:var(--shadowlight--);
}

input:checked~label i{
  color: var(--accent--);
}


input:hover~label i{
    color:var(--accent--);
}

form div{
  transform: rotate(180deg);
}

form div i{
  transform: rotate(180deg);
}

textarea{
  background-color: var(--main--);
  border-radius: 10px;
  width:95%;
  height:15vh;
  color:var(--accent--);
  font-size: 1vw;
  padding:5% 5%;
  border:none;
  box-shadow: inset 5px 5px 10px var(--shadowdark--), inset -5px -5px 10px var(--shadowlight--);
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-track {
  background: var(--shadowdark--);
}

textarea::-webkit-scrollbar-thumb {
  background: var(--shadowlight--);
}

textarea::-webkit-scrollbar-thumb:hover {
  background: var(--shadowlight--);
}

input[type="submit"]{
  background-color: var(--accent--);
  border: 1px solid var(--accent--);
  min-width:35%;
  margin-top:10%;
  padding:1vh 2.5vw;
  border-radius: 5vw;
  color: var(--main--);
  transition: ease-in-out 0.2s;
  text-transform: uppercase;
  letter-spacing: 0.4vh;
  font-size: 2vw;
}

input[type="submit"]:hover{
    background-color: transparent;
    color:var(--accent--);
}

@media only screen and (max-width: 800px){
  main{
    flex-direction: column;

  }
  main>div{
    width:100vw;
    position: relative;
    height:80vh;
  }
  form{
    font-size: 2.5vw;
    padding:5vh 5vw;
    width: 70vw;
    height:70%;
  }
  textarea{
    font-size: 2.5vw;
  }
  input[type="text"]{
    font-size:2.5vw;
    padding: 1vh 5%;
  }
  input[type="submit"]{
    font-size: 3vw;
    padding:1.5vh 5.5vw;
    border-radius: 10vw;
  }
}
