<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
    <meta name="author" content="Bertalan Victor">
    <meta name="keywords" content="cafea, cafenea, galerie, poze, imagini, clienti">
    <meta name="description" content="O selectie de poze facute la locatia noastra, ce incapsuleaza experienta El cafe de Heisenberga">
    <link href="fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="css/general.css" type="text/css">
    <link rel="stylesheet" href="css/navbar.css" type="text/css">
    <link rel="stylesheet" href="css/404.css" type="text/css">
    <link rel="stylesheet" href="css/footer.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <%-  include('../fragmente/header')  %>
    <div class="c404">
        <h2>
            404 COFFEE NOT FOUND
            <br>
            uite o cafea sa iti tina de cald daca tot ai ajuns aici
        </h2>
        <img src="img/404.png" alt="A fost pierduta si cafeaua de 404">
    </div>
    <%- include('../fragmente/contact')  %>
</body>
</html>