<!DOCTYPE html>
<html lang="ro" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
    <meta name="author" content="Bertalan Victor">
    <meta name="keywords" content="cafea, cafenea, galerie, poze, imagini, clienti">
    <meta name="description" content="O selectie de poze facute la locatia noastra, ce incapsuleaza experienta El cafe de Heisenberga">
    <link rel="stylesheet" href="css/general.css" type="text/css">
    <link rel="stylesheet" href="css/photogal.css">
    <link rel="stylesheet" href="css/navbar.css" type="text/css">
    <link rel="stylesheet" href="css/footer.css" type="text/css">
    <link rel="stylesheet" href="css/afk.css" type="text/css">
    <script src="js/afk.js"></script>
    <link rel="shortcut icon" href="img/logo1.png">
    <link href="fontawesome/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <title>Los imagenes de Heisenberga</title>
  </head>
  <body>
    <%-  include('../fragmente/header')  %> 
    <img id="top" src="img/beans.png" alt="404 boabe de cafea not found">
    
    <main>
        
        <div class="cont">
          <div>
            <a href="#img_1"><img src="img/g1.jpg" alt="404 coffee not found"></a>
            <a href="#img_2"><img src="img/g2.png" alt="404 coffee not found"></a>
            <a href="#img_3"><img src="img/g3.jpg" alt="404 coffee not found"></a>
            <a href="#img_4"><img src="img/g4.jpeg" alt="404 coffee not found"></a>
          </div>
          <div>
            <a href="#img_5"><img src="img/g5.jpg" alt="404 coffee not found"></a>
            <a href="#img_6"><img src="img/g6.jpg" alt="404 coffee not found"></a>
            <a href="#img_7"><img src="img/g7.jpg" alt="404 coffee not found"></a>
            <a href="#img_8"><img src="img/g8.jpg" alt="404 coffee not found"></a>
          </div>
          <div>
            <a href="#img_9"><img src="img/g9.jpg" alt="404 coffee not found"></a>
            <a href="#img_10"><img src="img/g10.jpg" alt="404 coffee not found"></a>
            <a href="#img_11"><img src="img/g11.jpg" alt="404 coffee not found"></a>
            <a href="#img_12"><img src="img/g12.png" alt="404 coffee not found"></a>
          </div>
          <div>
            <a href="#img_13"><img src="img/g13.jpg" alt="404 coffee not found"></a>
            <a href="#img_14"><img src="img/g14.jpg" alt="404 coffee not found"></a>
            <a href="#img_15"><img src="img/g15.jfif" alt="404 coffee not found"></a>
            <a href="#img_16"><img src="img/g16.webp" alt="404 coffee not found"></a>
              </div>
          </div>
          <a href="#" class="lightbox" id="img_1"><img src="img/g1.jpg" alt="404 coffee not found"></a>
          <a href="#" class="lightbox" id="img_2"><img src="img/g2.png" alt="404 coffee not found"></a>
          <a href="#" class="lightbox" id="img_3"><img src="img/g3.jpg" alt="404 coffee not found"></a>
          <a href="#" class="lightbox" id="img_4"><img src="img/g4.jpeg" alt="404 coffee not found"></a>
          <a href="#" class="lightbox" id="img_5"><img src="img/g5.jpg" alt="404 coffee not found"></a>
          <a href="#" class="lightbox" id="img_6"><img src="img/g6.jpg" alt="404 coffee not found"></a>
          <a href="#" class="lightbox" id="img_7"><img src="img/g7.jpg" alt="404 coffee not found"></a>
          <a href="#" class="lightbox" id="img_8"><img src="img/g8.jpg" alt="404 coffee not found"></a>
          <a href="#" class="lightbox" id="img_9"><img src="img/g9.jpg" alt="404 coffee not found"></a>
          <a href="#" class="lightbox" id="img_10"><img src="img/g10.jpg" alt="404 coffee not found"></a>
          <a href="#" class="lightbox" id="img_11"><img src="img/g11.jpg" alt="404 coffee not found"></a>
          <a href="#" class="lightbox" id="img_12"><img src="img/g12.png" alt="404 coffee not found"></a>
          <a href="#" class="lightbox" id="img_13"><img src="img/g13.jpg" alt="404 coffee not found"></a>
          <a href="#" class="lightbox" id="img_14"><img src="img/g14.jpg" alt="404 coffee not found"></a>
          <a href="#" class="lightbox" id="img_15"><img src="img/g15.jfif" alt="404 coffee not found"></a>
          <a href="#" class="lightbox" id="img_16"><img src="img/g16.webp" alt="404 coffee not found"></a>
          <%- include('../fragmente/contact')  %>
          <div class="afk">Ati fost inactiv timp de &nbsp<div class="time"></div> &nbsp minute</div>
    </main>
  </body>
</html>
