<!DOCTYPE html>
<html lang="ro" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
    <meta name="author" content="Bertalan Victor">
    <meta name="keywords" content="cafea, cafenea, ceaiuri, sucuri, cappucinno, americano">
    <meta name="description" content="Magazinul nostru online, unde puteti sa faceti o comanda din selectia noastra de produse">
    <link rel="stylesheet" href="css/general.css" type="text/css">
    <link rel="stylesheet" href="css/navbar.css" type="text/css">
    <link rel="stylesheet" href="css/magazin.css" type="text/css">
    <link rel="stylesheet" href="css/footer.css" type="text/css">
    <link rel="stylesheet" href="css/afk.css" type="text/css">
    <script src="js/afk.js"></script>
    <link rel="shortcut icon" href="img/logo1.png">
    <link href="fontawesome/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="js/ejs.min.js"></script>
	<script src="js/script.js"></script>
    <title>Los tienda de Heisenberga</title>
  </head>
  <body>
    <%-  include('../fragmente/header')  %> 
    <img id="top" src="img/beans.png" alt="404 boabe de cafea not found">
    <main>
      <section>
        <button id="cafele" onclick="cafele()">
            <span class='s1'>Cafele</span>
        </button>
        <button id="sucuri" onclick="ceaiuri()">
            <span class='s1'>Sucuri</span>
        </button>
        <button id="ceaiuri" onclick="sucuri()">
            <span class='s1'>Ceaiuri</span>
        </button>
        <br>
        <button id="crescPret" onclick="sortCrescPret()">
            <span class='s1'>Sorteaza crescator dupa pret</span>
        </button>
        <button id="descrescPret" onclick="sortDescrescPret()">
            <span class='s1'>Sorteaza descrescator dupa pret</span>
        </button>
        <button id="crescNume" onclick="sortCrescNume()">
            <span class='s1'>Sorteaza crescator dupa nume</span>
        </button>
        <button id="descrescNume" onclick="sortDescrescNume()">
            <span class='s1'>Sorteaza descrescator dupa nume</span>
        </button>
        <button id="reset" onclick="reset()">
            <span class='s1'>Reset</span>
        </button>
        <ul id="afisTemplate">
        </ul>
        <div class='cump'></div>
        <ul class="cos">Cos de cumparaturi:<br></ul>
        <div id='total'>0lei</div>
        <button class="resetcos" onclick="resetCos()">
          <span class='s1'>Resetare cos</span>
      </button>
      </div>
     </section>
     <%- include('../fragmente/contact')  %>


      <div class="afk">Ati fost inactiv timp de &nbsp<div class="time"></div> &nbsp minute</div>
    </main>
  </body>
</html>
